

    <div class="main">
        <div class="conatiner1">
           
            <div class="card">
                
                <div class="card-header">
                    <div class="movie-title">Bahubali</div>
                    <img src="assets/images/amendra_bahubali.jpg" alt="" id="movie-img">
                    <div class="role"><div class="role-header">Role / Designation</div> 
                        <div class="role-value">Prince,Hero </div> <hr></div>
                    <div class="role"><div class="role-header">Alliases</div><div class="role-value">max -100 letter </div> <hr> </div>
                    <div class="container3">
                        <div class="box1"><div class="type"><div class="header">Type</div> </div><div class="value">Human <hr></div>
                        <div class="type"><div class="header">Gender</div> <div class="value">Male  <hr></div></div>
                    
                        <div class="type"><div class="header">Age </div> <div class="value">45 <hr></div></div> 
         
                         </div>
                        <div class="box2"><div class="type"><div class="header">Type</div> </div><div class="value">Human <hr></div>
                        <div class="type"><div class="header">Gender</div> <div class="value">Male  <hr></div></div>
                    
                        <div class="type"><div class="header">Age </div> <div class="value">45 <hr></div></div> 
         
         
                         
                        
                     </div>
                    </div>
                  
            </div>
        
        
        </div></div>
        <div class="container2">
    
            <div class="box4">
                <div class="img1"><img src="assets/images/devsena.jpg" alt=""><div class="txt1"><button (click)="changeImage()">Devsena</button>
                    <span class="indicator">Amendra Bahubali</span></div></div>
                
            <div class="img2"><img src="assets/images/kattapa.jpg"><div class="txt2"> <button (click)="changeImage2()">Kattapa</button>
              </div></div>
            <div class="img3"><img src="assets/images/amendra_bahubali.jpg" alt=""><div class="txt3"><button (click)="changeImage3()">Amendra Bahubali</button></div></div>
            <div class="img4"><img src="assets/images/mahendra bahubali.jpg" alt=""><div class="txt4"><button (click)="changeImage5()">Mahendra Bahubali</button></div></div>
            <div class="img5"><img src="assets/images/bhaladeva.jpg" alt=""><div class="txt5"><button (click)="changeImage4()">Bhalaldeva</button></div></div>
           
            <div class="img6"><img src="assets/images/shivgami.avif" alt=""><div class="txt6"><button (click)="changeImage6()">Shivgami</button></div></div>
                </div>
    
                
    <div class="relations">
      <div class="r1"> Queen/Deputy</div>
      <div class="r2">Step Brothers</div>
      <div class="r3">Relatives</div>
      <div class="r4">Son/Mother</div>
      <div class="r5">Son/Mother</div>
      <div class="r6">Son/Mother</div>
      <div class="r7">Husband/Wife</div>
      <div class="r8">Father/Son</div>
    </div></div></div>

